:global(.RichEditor-root) {
    /*background: #fff;*/
    /*border: 1px solid #ddd;*/
    /*font-family: 'Georgia', serif;*/
    /*font-size: 14px;*/
    /*padding: 15px;*/
    height: 100%;
    background-color: white;

}

:global(.RichEditor-editor) {
    /*border-top: 1px solid #ddd;*/
    /*cursor: text;*/
    /*font-size: 16px;*/
    /*margin-top: 10px;*/
    height: 100%;
}

:global(.public-DraftEditorPlaceholder-root) {
    color: #9197a3;
    position: absolute;
    z-index: 1;
    line-height: 28px;
    font-size: 18px;
}

:global(.DraftEditor-root){
    padding: 16px 25px;
}

:global(.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content) {
    margin: 0 -15px -15px;
    padding: 15px;
}

:global(.RichEditor-editor .public-DraftEditor-content) {
    min-height: 100px;
}

:global(.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root) {
    display: none;
}




:global(.DraftEditor-editorContainer h3) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}


:global(.DraftEditor-editorContainer .paragraph) {
    color: #554d56;
    line-height: 28px;
    font-size: 18px;
}

.backPanel{
    height: 48px;
    background-color: #000000;
    width: 100%;
}