.input{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #354b6c;
    outline: none;
    height: 41px;
    background-color: #ffffff;
    width: 100%;
    padding-left: 10px;
}

