.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1050;
    /*opacity: 0;*/
    /*transition: opacity 400ms ease-in;*/
    /*pointer-events: none;*/
    /*visibility: hidden;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center*/
}

.panel{
    height: 60px;
    background-color: #232c30;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputWrapper{
    border-top: 1px solid white;
    background-color: #232c30;
    height: 100%;
    padding-top: 80px;
}
.formWrapper{
    height: 100%;
}

.form{
    height: 100%;
}