
.button{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    /*border-left: 1px solid;*/
    text-transform: uppercase;
}

.buttonText{
    padding-left: 15px;
    padding-right: 15px;
}