
.sectionView h3{
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 10px;
}


.sectionView p{
    color: #554d56;
    line-height: 28px;
    font-size: 18px;
}

.sectionView a{
    font-size: 20px;
    color: #19195a;
    text-decoration: underline;
}
