.button{
    /*width: 60px;*/
    text-align: center;
    color: #ffffff;

    display: flex;
    align-items: baseline;
    padding-left: 10px;
    padding-right: 10px;
}

.active{
    color: #f8d75c;
}

.active path{
    fill: #f8d75c;
}

.title{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: inherit;
    text-align: center;
    margin-left: 4px;
}

