.textEditor{
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
    padding-bottom: 10px;
    border: 0;
    outline: none;
}

.root{
    height: 100%;
}

.textEditorWrapper{
    /*margin: 20px;*/

    /*margin-top: 80px;*/
    height: 100%;
}

