.root{
    height: 48px;
    background-color: #000000;

    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    max-width: 560px;
}

.buttonCancel{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.buttonNext{
    text-transform: uppercase;
    color: #f8d75c;
    font-size: 16px;
    font-weight: bold;
}

.buttonInsertWrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.buttonInsert {
    width: 33%;
}