.root{
    background-color: #f4f6f9;
    height: 100%;
}

.ordersPanel{
    margin-left: 15px;
    margin-right: 15px;
}

.titlePanel{
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.number{
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
    margin-right: 6px;
}

.phonePanel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}

.phoneLabel{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: normal;
    color: #354b6c;
}

.phone{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: normal;
    color: #354b6c;
}

.clientData{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;
}

.comment{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: normal;
    color: #354b6c;
}

.cartItemsPanel{
    margin-top: 6px;
    background-color: white;
    padding: 20px 25px 0px 25px;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;
}