.button{
    padding-left: 25px;
    padding-top: 13px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    /*border-top: solid 1px #d6dce3;*/
    border-bottom: solid 1px #d6dce3;
}

.title{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #d6dce3;
}

.plus{
    margin-right: 20px;
}

.root{
    /*padding-bottom: 30px;*/
}