.input {
    width: 100%;
    text-align: left;
    border: 0;
    outline: none;
    background-color: #ffffff;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    color: #5a758a;

}

.inputWrapper{
    height: 54px;
    /*border-top: solid 1px #d6dce3;*/
    border-bottom: solid 1px #d6dce3;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.button{
    height: 28px;
    border-radius: 6px;
    background-color: #5a758a;
    padding: 8px 10px 8px 10px;
    margin-right: 22px;
}

.buttonText{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #ffffff;
    white-space: nowrap;
}

input::placeholder{
    color: #d6dce3;
    font-weight: 300;
    font-size: 16px;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}