
.label{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;

    margin-bottom: 10px;
    padding-left: 25px;
    display: inline-block;
    margin-top: 20px;
}

.root{
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.inputWrapper{
    width: 50%;
}

.labelWrapper{
    display: flex;
    flex-direction: column;
}

.inputWrapper2{
    background-color: #ffffff;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;
    display: flex;

}

.input{
    border: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
    border: 0;
    outline: none;
    height: 41px;
    background-color: #ffffff;
    display: inline-block;
    padding-left: 25px;
    box-sizing: border-box;
    width: 100%;
}


input::placeholder{
    color: #d6dce3;
    font-weight: 300;
    font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}