.button{
    width: 100%;
    height: 78px;
    background-color: #ffffff;
    border-top: dashed 1px #d6dce3;
    border-bottom: dashed 1px #d6dce3;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.leftCol{
    display: flex;
}

.plus{
    font-size: 30px;
    color: #5a758a;
    margin-right: 10px;
}

.text{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;
    width: 176px;
    text-transform: uppercase;
}