.comment{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: normal;
    text-align: left;
    color: #828282;
}

.link{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: normal;
    text-align: left;
    color: #19195a;
}

.text{
    margin-left: 33px;
    margin-right: 33px;
}