.button {
    background-color: #5a758a;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 0;
    border-radius: 4px;

}

.text{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    text-transform: uppercase;
}
