.item {
    padding: 8px;
    border: solid 1px #f5f6f7;
    text-align: center;
    background-color: #fdfdfd;
    border-radius: 4px;
    margin: 1px;
}

.icon {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    width: 130px;
    height: 130px;
    position: relative;
}

.title{
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #000014;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #354b6c;
    margin-top: 8px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image{
    border-radius: 2px;
}

.theme-steve-jobs-item {
    border-radius: 8px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 6px;
    margin-left: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border: none;
    padding-bottom: 1px;
}

.theme-steve-jobs-image {
    border-radius: 8px 8px 0 0;
}


.theme-steve-jobs-title {
    border-radius: 8px;
    background-color: transparent;

    margin-top: 4px;
    font-size: 13px;
    color: #4b4e5c;
}

.theme-steve-jobs-price{
    border-radius: 8px 8px 0 0;

    margin-bottom: 7px;
    margin-top: 3px;
    font-size: 14px;
    color: #000000;
}