.root {
    padding-bottom: 60px;
}

.items{
    display: flex;
    flex-wrap: wrap;

    background-color: white;
    position: relative;
}

.link{
    width: 50%;
}

.theme-steve-jobs-items {
    margin-right: 4px;
}