.item {
    text-align: center;
    position: relative;
    padding: 8px;
    border: solid 1px #f5f6f7;
    text-align: center;
    background-color: #fdfdfd;
    border-radius: 4px;
    margin: 1px;
}

.icon {
    margin: 0 auto;
    display: inline-block;
    width: 75%;
    height: 78%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.title{
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: transparent;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: transparent;
    margin-top: 8px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




.text{
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: rgb(90, 117, 138);
}

.textPlus{
    font-size: 42px;
    font-weight: normal;
    line-height: 0.71;
    color: rgb(90, 117, 138);
    margin-bottom: 5px;
}

.textWrapper{
    width: 120px;
    margin-left: 10%;
    margin-top: 30px;
    position: absolute;
    top: 0;
    text-align: left;
}

.theme-steve-jobs-item {
    border-radius: 8px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 6px;
    margin-left: 4px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border: none;
    padding-bottom: 1px;

}

.theme-steve-jobs-text {
    color: rgb(102, 102, 102);
}

.theme-steve-jobs-icon {
    border-bottom-right-radius: 8px;
}
