@media (min-width: 860px) {
    .rootPhone {
        display: none;
        visibility: hidden;
    }

    .rootDesktop {
        display: block;
        visibility: visible;
    }
}

@media (max-width: 859px) {
    .rootPhone {


        display: block;
        visibility: visible;
    }

    .rootDesktop {
        display: none;
        visibility: hidden;
    }
}

/* phone landing */

.root{


}

.rootPhone{
    height: 100%;
    background-color: #f4f6f9;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    background-image: linear-gradient(to top, rgba(250, 250, 250, 0), #ccd0d6)
}


.logo svg{
    width: 54px;
    height: 54px;
}

.headerLinkWrapper{
    border-bottom: solid 2px black;
    color: #393c4c;
    margin-top: 2px;
    display: inline-block;
}

.headerLink{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #393c4c;
}

.title{
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #393c4c;
    padding-left: 35px;
    padding-right: 23px;
    padding-top: 30px;
}

.buttonPanel{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.registerButton{
    margin-right: 8px;
}

.description1Wrapper{
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 23px;
    border-left: solid 4px #d6dce3;
}

.description1{
    margin-left: 15px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #5a758a;
}

.imagePhone{
    width: 100%;
    margin-top: 20px;
}

.description2Block{
    height: 577px;
    background-color: #fafafa;
    box-shadow: 0 -3px 16px 0 rgba(133, 133, 133, 0.39);
    padding-top: 30px;
    position: relative;
    margin-top: -200px;
}

.description2Wrapper{
    margin-left: 35px;
    margin-right: 30px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.08);
}

.description2{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #5a758a;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.linkYourCompany{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #393c4c;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.description3Wrapper{
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 23px;
    border-left: solid 4px #f8d75c;
}

.description3{
    margin-left: 15px;


    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: -0.1px;
    color: #393c4c;
}

.registerDescriptionLink{
    font-weight: bold;
    color: #354b6c;
    border-bottom: 1px solid #354b6c;
}

.bottomLogoWrapper{
    display: flex;
    justify-content: center;
}

.bottomLogo{
    width: 130px;
    height: 99px;
    border-radius: 32px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.bottomLogoText{
    font-weight: bold;
    color: #354b6c;
    margin-top: 15px;
}

.contactsBlock{
    background-color: #ffffff;
    margin-top: -55px;
    position: relative;


    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 48px;
}

.contactTitle{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #393c4c;
}

.contactDescription{
    margin-top: 4px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: -0.1px;
    color: #666666;
}

.imageBlock{
    background-color: #f4f6f9;
}

/* desktop landing */

.rootDesktop{
    /*display: flex;*/
    /*justify-content: center;*/

    height: 100%;
    background-color: #f4f6f9;

}

.rootDesktop2{

}

.rootDesktopContent{
    display: flex;
    justify-content: center;
}



.rootDesktopContent2{
    min-width: 860px;
    max-width: 860px;
    margin-left: 45px;
    margin-right: 80px;
}

.rootDesktop .header{
    background-image: none
}

.desktopContent{
    display: flex;
}

.desktopLeftCol{

}

.desktopRightCol{

}

.desktopDescription2Block{
    margin-top: 48px;
}

.desktopFooterContent{
    display: flex;
    justify-content: center;
}

.desktopFooterContent2{
    width: 860px;
}
.desktopFooterContent3{
    margin-left: -17px;
    width: 550px;
}

.desktopFooter{
    background-color: #fafafa;
    position: relative;
    margin-top: -200px;
    padding-top: 5px;
}

.desktopContactsBlock{
    background-color: #ffffff;
    margin-top: -55px;
    position: relative;


    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 48px;


    display: flex;
    justify-content: center;
}

.desktopContactsBlock2{
    width: 860px;
    display: flex;
    margin-left: 45px;
    justify-content: center;
}

.desktopFooter2ContentWrapper{
    display: flex;
    justify-content: center;
}

.desktopFooter2Content{
    width: 100%;
}

.desktopBttonPanel{
    display: flex;
    margin-top: 20px;
    justify-content: left;
    margin-left: 35px;
}

.desktopContact{
    width: 430px;
}

.desktopTitle{
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #393c4c;
    padding-left: 35px;
    padding-right: 23px;
    padding-top: 30px;
    width: 320px;
}


.single {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 1000;
}