.closeButtonWrapper{
    display: flex;
    justify-content: flex-end;
}

.buttonMenu{
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
}

.textMenu{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-right: 14px;
    color: inherit;
}

.closeSvgNavyBlue path {
    stroke: #F8D75C;
}

.closeSvgCloud path {
    stroke: #354B6C;
}

.closeSvgSteveJobs path {
    stroke: #F8D75C;
}