.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1060;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
    /*pointer-events: none;*/
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 560px;
    position: absolute;
    right: 0;
}



.back{
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 10000;
    left: 0;
    /*max-width: 240px; !* 560 - 320 *!*/
}

@media (min-width: 560px) {
    .back {
        width: 240px;
    }
}

.rootVisible{
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
}

.panel{
    background-color: #354b6c;
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 320px;
}

.panelInner{
    padding-right: 25px;
    padding-top: 22px;
}

.logoutButton{
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.43;
    letter-spacing: normal;
    text-align: right;
    color: inherit;
}

.logoutWrapper{
    display: flex;
    justify-content: flex-end;
}

.orderItem{

}