.menuItemButtonWrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    align-items: center;

}

.menuItemButton{
    color: inherit;
}

.menuItem{
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: inherit;
}

.leftCol{
    margin-right: 10px;
}
