.root{
    margin-top: 37px;
    border-top: solid 1px #f8d75c;
    padding-top: 15px;
    border-bottom: solid 1px #f8d75c;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.supportText{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: inherit;
    margin-bottom: 8px;
}

.supportLinkWrapper{
    text-align: right;
}

.supportLink{
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: inherit;
    font-weight: bold;
}

.rootWrapper{
    display: flex;
    justify-content: flex-end;
}
