.root{
    margin-top: 15px;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;

    padding: 15px 25px 15px 25px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.accountLable{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #f4f6f9;
    display: flex;
    align-items: center;
}

.accountLableText{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #5a758a;
    padding: 9px 14px 9px 14px;
    display: inline-block;
}

.title{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #354b6c;
}

.refresh{
    display: inline-block;
    margin-right: 9px;
}