.productLogo{
    width: 100px;
    height: 100px;
}

.root{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightCol{
    margin-left: 10px;
    margin-right: 20px;
}

.button{
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #d6dce3;
}

.text{
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #354b6c;
}

.leftCol{
    display: flex;
    align-items: center;
}