.root {
    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    /*background-color: #d6dce3;*/
    background-color: #f4f6f9
}

.accountNameLabel{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #5a758a;
}