.button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border: solid 1px #d6dce3;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.leftCol{
    text-align: left;
}

.rightCol{
    text-align: right;
}

.numberWrapper{
    margin-bottom: 6px;

}

.number{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #354b6c;
    margin-right: 7px;
}

.date{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #354b6c;
    margin-bottom: 8px;
}

.title{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #354b6c;
    margin-bottom: 8px;
}

.phone{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: normal;
    color: #354b6c;
}

.phoneWrapper{
    border-bottom: dashed 1px #5a758a;
}

.arrow{

}