.root{
    background-color: #f4f6f9;
    height: 100%;
}

.ordersPanel{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f4f6f9;
}

.noOrders{
    margin-top: 200px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #d6dce3;

}