.switch{
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.switchLeftCol{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #354b6c;
}

.root{
    margin-bottom: 23px;
    border-bottom: solid 1px #d6dce3;

}

.content{
    background-color: white;

}