.button{
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border-bottom: solid 1px #d6dce3;

}

.title{
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    color: #5a758a;
}

.arrow{
    margin-right: 20px;
}