.root{
    background-color: #f4f6f9;
    height: 100%;
}



.description{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #5a758a;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}


.settingsPanelText{
    padding-top: 15px;
    padding-bottom: 9px;
    padding-left: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;
}

.text{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;

    margin-top: 18px;
    margin-left: 24px;
}

.text2{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;

    margin-top: 20px;
    margin-left: 24px;

}

.switchOnButton{
    margin-top: 100px;
}
.switchOffButton{
    margin-top: 30px;
}