.element{
    display: inline-block;
    position: relative;
}

.input{
    position: absolute;
    visibility: hidden;
}

.label{
    display: block;
    position: relative;
    padding: 0px 0px 0px 53px;
    margin: 6px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;

    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #5a758a;
    text-transform: uppercase;
}

.check{
    display: block;
    position: absolute;
    border: 2px solid #5a758a;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    top: 0px;
    left: 25px;
    z-index: 5;
}

.check:before{
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
}


.checked{

}

