.trueLabel{
    position: relative;
}

.input {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
    border: 0;
    outline: none;
    background-color: #ffffff;
    padding: 0;

    padding-left: 58px;
}

.inputWrapper{

}
.inputWrapper2{
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;
    height: 40px;
    display: flex;
    align-items: center;
}

.label{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;

    /*padding-left: 25px;*/

    /*padding-top: 16px;*/
    /*padding-bottom: 10px;*/

    position: absolute;
    background: transparent;
    top: 12px;
    left: 25px;
    z-index: 1;
}

.text{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;

    margin: 15px 25px 15px 25px;
}

.error{
    margin: 15px 25px 15px 25px;
    color: #f57123
}

.attention{
    font-weight: bold;

}

input::placeholder{
    color: #d6dce3;
    font-weight: 300;
    font-size: 16px;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}