.description{
    opacity: 0.6;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 25px;
    margin-right: 25px;
}



.root{
    height: 100%;
    background-position-x: -50px;
    background-position-y: 150px;
}

.items{
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
}