.icon{
    margin-bottom: 10px;
}

.text{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #5a758a;
}

.root{
    text-align: center;
    margin-bottom: 30px;
}