.description{
    opacity: 0.6;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 25px;
    margin-right: 25px;
}

.notice{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}

.root{
    height: 100%;
    background-position-x: -250px;
    background-position-y: 200px;
}

.buttons{
    margin-top: 80px;
    margin-left: 25px;
}