
.button {
    height: 28px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.buttonText{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
    text-transform: uppercase;
    margin: 8px 10px 8px 10px;
}
