<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=page_title %></title>
    <meta name="description" content="flicky.io — магазин в браузере твоего мобильного телефона">
    <meta name="keywords" content="флики, конструтор, онлайн магазин, создать сайт, создать сайт бесплатно, продажи, flicy.io, flicky, магазин для инстаграм, магазин для instagram, катаог для инстаграм" />
    <meta name="yandex-verification" content="70ae20fc75414b47" />
    <meta name="google-site-verification" content="RhT5UsFEHNmCprAI8sT9JpRxsaAu4YYIdiOSAiC56CI" />
    <meta name="google-site-verification" content="O-cBch5tfTlxd2YC0xieW_wD89TLG6px70tHpjQJ2Lg" />

    <link rel="image_src" href="<%=image_src %>">
    <!--<meta name="referrer" content="always">-->

    <meta property="og:type" content="website">
    <meta property="og:title" content="<%=profile_title %>">
    <meta property="og:description" content="<%=profile_description %>">
    <meta property="og:site_name" content="flicky.io">
    <meta property="og:image" content="<%=profile_image %>">
    <meta property="og:url" content= "<%=profile_url %>" />


    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%=profile_title %>">
    <meta name="twitter:description" content="<%=profile_description %>">
    <meta name="twitter:image" content="<%=profile_image %>">

    <link rel="canonical" href="<%=canonical %>">

    <link href="/static/favicons/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16">

    <link rel="stylesheet" href="/static/css/styles.css?5c74ec">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">-->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1027055264167249');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1027055264167249&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter51194231 = new Ya.Metrika2({
                        id:51194231,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/51194231" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123356359-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123356359-1');
    </script>

    <script>
        window.onerror = (msg, url, lineNo, columnNo, error) => {

            gtag('event', 'exception', {
                'description': msg + url + lineNo + columnNo + ( error ? error.stack : null),
                'fatal': false
            });

            return false;
        }
    </script>
</head>
<body>
<div id='root' class="global-root"></div>

<!--<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBgPWzlHe3-Iu-OCRzMXYjcweoKfZ_7pc"></script>-->
<script src="/static/js/bundle.js?5c74ec"></script>
</body>
</html>

