*{
    font-family: Montserrat;
    /*font-family: Ubuntu;*/
}

:global(html){
    height: 100%;
}

:global(body) {
    height: 100%;
    margin: 0;
}

:global(.global-root) {
    height: 100%;
    position: relative;
}

:global(a) {
    text-decoration: none;
}

:global(button) {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.cropEdit{
    height: 100%;
    background-color: #e4e4e4;
}

.blocked{
    pointer-events: none;
}

.textEdit{
    height: 100%;
}



[data-reactroot]{
    height: 100%;
}

.ubuntuFont *{
    font-family: Ubuntu;
}

.montserratFont *{
    font-family: Montserrat;
}

.hideScroll{
    overflow: hidden;
}