

.app {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.appFixed{
    position: fixed;
}

.content{
    margin-left: 20px;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.headerTitle{
    font-size: 110%;
    margin-bottom: 10px;
}

.link {
    color: #670000;
    text-decoration-color: #670000;
    text-decoration-style: dotted;
}

.link:hover {
    text-decoration: initial;
}

/*red #bf0000*/