.photoWrapper{
    width: 82px;
    height: 82px;
}

.root{
    display: flex;
    padding: 10px;
    border: solid 1px #d6dce3;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.title{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
    margin-bottom: 4px;
}

.price{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
    margin-bottom: 14px;
}

.rightCol{
    margin-left: 15px;
}