.count{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354b6c;
    margin-right: 20px;

}

.button{
    margin-right: 20px;
}

.root{
    display: flex;
}

