.root {
    margin-left: 25px;
    margin-right: 25px;
}

.iconWrapper{
    margin-top: 70px;
}

.subtitleWrapper{
    margin-top: 45px;
}

.emailWrapper{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
}

.buttonWrapper{
    margin-top: 100px;
}