.single {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 24px;
    bottom: 24px;
}

.wrapper{
    width: 80px;
    height: 80px;
    background-color: #dbdee3;
    border-radius: 80px;
    text-align: center;
}

.icon{
    margin-top: 10px;
    display: inline-block;
}

.circle{
    width: 600px;
    height: 600px;
    border-radius: 310px;
    background-color: #354b6c;

    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: -300px;
    right: -300px;
}

.phonecallTitle{
    width: 102px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
}

.phonecall{
    position: absolute;
    top: 150px;
    left: 50px;
}

.whatsappcall{
    position: absolute;
    top: 50px;
    left: 180px;
}

.close{
    position: absolute;
    top: 235px;
    left: 235px;
}

.link{
    text-align: center;
}