.root{
    margin-top: 14px;
    margin-left: 25px;
}

.button {
    border-radius: 6px;
    background-color: #354b6c;
    height: 28px;
    text-transform: uppercase;
}

.buttonText{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 8px;
}

