.root {

}

.description{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 23px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #8c8f9d;
    padding-bottom: 120px;
}

.photoWrapper{
    border-bottom: solid 1px #f8d75c;
    padding-bottom: 33px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 8px;
}

.photo{
    width: 80%;
    height: 216px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
}

.price{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 17px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

