.root{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 18px 22px 18px 22px;
    border-bottom: solid 1px #d6dce3;
    align-items: center;
}

.checkbox{
    width: 24px;
    height: 24px;
}

.checkbox svg{
    fill: #5a758a;

}

.title{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    color: #5a758a;
}