.modal{
    height: 100%;
    opacity: 0;
    visibility: hidden;
    /*border-radius: 8px;*/
    /*background-color: #000000;*/

    position: fixed;
    z-index: 10000;
    width: 100%;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
    max-width: 560px;
}

.back{
    height: calc(100% - 320px);
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.root{
    background-color: #ffffff;
    height: 320px;
    bottom: 0;
    position: fixed;
    box-shadow: 0 -15px 15px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 10001;
    overflow-y: auto;
    max-width: 560px;

}

.changePosition{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #d6dce3;
    padding: 21px;
}