.root {

}

.content{
    text-align: center;
    border-bottom: solid 1px #f8d75c;
    padding-bottom: 33px;
    margin-left: 25px;
    margin-right: 25px;
}

.buttonPanel{
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}

.textBetweenButton{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 24px;
}

.description{
    margin-top: 20px;
    margin-bottom: 27px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}