.root{
    background-color: #ffffff;
    border-bottom: solid 1px #d6dce3;
    margin-bottom: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 54px;

}


.leftCol{
    display: flex;
    align-items: center;
    padding-left: 30px;

}

.rightCol{
    display: flex;
    align-items: center;
}

.icon{
    margin-left: 25px;
    margin-right: 15px;

}

.title{

    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #354b6c;
}

.form{
    margin-left: 30px;
    margin-right: 26px;

}

.contentText{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #5a758a;
    margin-bottom: 10px;
}

.input{
    margin-bottom: 20px;
}

