.description{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #5a758a;
}

.root{
    background-color: #f4f6f9;
    height: 100%;
}

.text{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;
    margin: 12px 24px 12px 24px;
}

.text1{
    margin-bottom: 20px;
}

.notificationText{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;
    margin-left: 25px;
}

.email{
    font-weight: bold;
}