
.root{
    /*background-color: #354b6c;*/
    position: relative;
    margin-bottom: 6px;
}

.logo {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    height: 66px;
    width: 66px;
    border-radius: 66px;
    border: 2px solid #354b6c;
}



.ava {
    margin-left: 10px;
}

.content {
    display: flex;
    padding: 30px 25px 20px 25px;
}

.contentText {
    position: relative;
    width: 100%;
    margin-right: 2px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: left;
}

.description {
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;
}

.editProfile{
    position: absolute;
    right: 20px;
    top: 0;
}

.theme-navy-blue {
    background-color: #354b6c;
}

.theme-cloud {
    background-color: #f4f6f9;
}

.theme-steve-jobs{
    background-image: linear-gradient(to top, #fafafa, #e5e5e5);
}


