.root{
    border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 28px;
    background-color: #d6dce3;
    border: solid 1px #dcdcdc;
    color: #ffffff;
}

.text{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    margin: 8px 10px 8px 10px;
    text-transform: uppercase;
}