.root {
    height: 100%;
    background-color: #f4f6f9;
}

.text{
    margin-left: 25px;
    margin-right: 25px;
}

.subtitle{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5a758a;
}