.root{
    /*width: 167px;*/
    height: 64px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d6dce3;

    flex: 1 0 40%;
    margin-right: 5px;
    margin-bottom: 5px;

    color: #5a758a;
}

.wrap{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.number{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;

    margin-bottom: 10px;
}

.title{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;

}

.checkOk{
    margin-bottom: 5px;
}

.isChecked{
    background-color: #354b6c;

    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.isCheckedIcon path {
    fill: #ffffff;
}