.root{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}


.fake{
    /*width: 167px;*/
    height: 64px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #d6dce3;

    flex: 1 0 40%;
    margin-right: 5px;

    color: #5a758a;
    visibility: hidden;

}