.button{
    width: 100%;
    border-bottom: solid 1px #d6dce3;
    margin-bottom: 20px;
}

.leftCol{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}

.rightCol{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}

.panel{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}