.root {
    margin-left: 17px;
    margin-right: 17px;
}
.numberCol{
    margin-top: 52px;
    text-align: center
}
.successIcon{
}

.numberLabel{
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}

.number{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
    margin-top: 4px;
    padding-bottom: 15px;
    border-bottom: solid 1px #d6dce3;
}

.orderFeedback{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
    margin-top: 19px;
    padding-bottom: 21px;
    border-bottom: solid 1px #d6dce3;
}

.phonePanel{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 1px #d6dce3;
}

.phonePanelLeftCol{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}

.phonePanelRightCol{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}

.call{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}