.root{
    display: flex;
    justify-content: center;

    border-radius: 2px;
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;

}

.button {
    text-align: center;
}

.buttonText{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
    text-transform: uppercase;
    margin-top: 19px;
    display: inline-block;
    margin-bottom: 19px;
}