.leftCol{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #354b6c;
}

.root{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}