.productLogo{
    width: 100px;
    height: 100px;
}

.root{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(214, 220, 227);
}

.rightCol{
    margin-left: 10px;
    margin-right: 20px;
}