.root{
    padding-top: 25px;
    padding-bottom: 22px;
    background-color: #f4f6f9;

    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #d6dce3;
    align-items: center;
}

.close{
    margin-right: 25px;
}

.leftCol{
    margin-left: 25px;
}