.root{
    height: 60px;
    background-color: #000000;

    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonCancel{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.buttonNext{
    text-transform: uppercase;
    color: #f8d75c;
    font-size: 16px;
    font-weight: bold;
}