.root{
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 34px;
    padding-bottom: 30px;
    /*border-top: solid 1px #d6dce3;*/
    /*border-bottom: solid 1px #d6dce3;*/
}

.phoneLabel{
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.addressLabel{
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}



.address{
    color: #554d56;
    line-height: 28px;
    font-size: 18px;
}


.addressSection{
    margin-bottom: 20px;
}



.line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d6dce3;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 14px;
}


.additionalInfo{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #354b6c;
}

.mapSection{
    margin-top: 25px;
}