.phoneBlock {
    display: flex;
    margin-bottom: 25px;
}

.phoneText{
    margin-left: 10px;
    border-bottom: 1px dashed #d6dce3;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #354b6c;
    white-space: nowrap;
    overflow: hidden;
}

.phoneIcon{
    padding-top: 4px;
}