.root{
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 30px;
    /*border-top: solid 1px #d6dce3;*/
    /*border-bottom: solid 1px #d6dce3;*/
}
