.root {
    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    height: 100%;
    /*background-color: #f4f6f9;*/
}

.formWrapper{
    /*margin-top: 120px;*/
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.buttonWrapper{
    /*margin-top: 40px;*/
}

.loginButton{
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.orPanel{
    background-color: #f4f6f9;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    border-bottom: solid 1px #d6dce3;
    display: flex;
    justify-content: center;
}

.orPanelText{
    width: 24px;
    height: 20px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #5a758a;
}