.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1050;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center

}

/*.loader{*/
    /*color: white;*/
/*}*/


.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loadingBar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}
.loadingBar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}
.loadingBar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}
.loadingBar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
.loadingBar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}