.root {
    margin-top: 4px;
}

.buttonPanel{
    margin-left: 25px;
    margin-right: 25px;
}

.button{
    width: 100%;
    display: block;
    text-align: left;
    padding-top: 24px;
    position: relative;

}

.text{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
}

.titleRow{
    display: flex;
    align-items: center;
}

.title{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #354b6c;

    margin-left: 20px;
}

.description {
    margin-top: 8px;
}

.line{
    margin-top: 23px;
    margin-bottom: 8px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d6dce3;
    padding: 0;
}

.checkOk{
    position: absolute;
    right: 2px;
    top: 24px;
}