.photoWrapper{
    width: 40px;
    height: 40px;
}

.root{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
    margin-bottom: 4px;
}

.price{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}

.rightCol{
    margin-left: 11px;
    text-align: left;
}

.leftColImage{
    display: flex;
}

.rightColImage{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #354b6c;
}