.root{
    padding: 25px;
    background-color: #f4f6f9;
}

.button {
    width: 100%;
    border-radius: 6px;
    background-color: #354b6c;
    height: 50px;
    text-transform: uppercase;
    /*margin-bottom: 30px;*/

}

.buttonText{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.white{
    background-color: transparent;
}