.root {

}

.editorView{
    width: 100%;
    padding-top: 24px;
    background-color: #f4f6f9;
}

.editorViewTextWrapper{
    min-height: 40px;
    overflow-y: hidden;
    background-color: #ffffff;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;
}



.hidden{
    display: none;
    visibility: hidden;
}

.label{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;

    margin-bottom: 10px;
    padding-left: 25px;
}

.placeholder{
    margin-top: 15px;
    color: #d6dce3;
    font-weight: 300;
    font-size: 16px;
}

.value{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #354b6c;
    padding-top: 8px;
    text-align: left;
}

.arrow{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #354b6c;
}

.categoryPlaceholder{
    margin-top: -9px;
}