.root {
    display: inline-block;
    height: 28px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #5a758a;
    margin-right: 8px;
    margin-bottom: 8px;
}

.text{
    height: 12px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5a758a;
    padding: 8px;
    text-transform: uppercase;
}