.root{

    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    padding-top: 25px;
    padding-bottom: 22px;
    background-color: #f4f6f9;
}

.text {
    margin-left: 25px;
    margin-top: 2px;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
}

.close{
    margin-right: 25px;
}

.extButtons{
    margin-top: 14px;
    margin-left: 25px;
}

.white{
    background-color: transparent;
    border-bottom: none;
}

.mainPanel{
    display: flex;
    justify-content: space-between;
}

.closeSvgNavyBlue path {
    stroke: #354B6C;
}

.closeSvgCloud path {
    stroke: #354B6C;
}

.closeSvgSteveJobs path {
    stroke: #393C4C;
}