.button{

}

.link{

}

.button{
    border-radius: 6px;
    margin-right: 8px;
    /*margin-bottom: 8px;*/
    height: 28px;
    color: #ffffff;
    background-color: #354b6c;
}

.text{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    margin: 8px 10px 8px 10px;
    text-transform: uppercase;
}