.buttonText{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    margin: 7px 10px 7px 10px;
    display: block;
    text-transform: uppercase;
}

.button{
    border-radius: 6px;
    background-color: #d6dce3;
    color: #ffffff
}

.edit{
    background-color: #354b6c;
    color: #ffffff;
    border: none;
}