.root{
    margin-top: 40px;
    background-color: #d6dce3;
    /*margin-left: -25px;*/
    /*margin-right: -25px;*/
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
}

.text{
    margin-left: 20px;
    margin-right: 20px;
}

.link{
    margin-top: 15px;
    display: inline-block;
}