.root{
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;

    padding: 15px 25px 15px 25px;

    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}



.title{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #354b6c;
    margin-left: 14px;
}

.leftCol{
    display: flex;
    align-items: center;
}

.logo{
    height: 32px;
}

.rightCol{
    height: 16px;
}