.button {
    width: 100%;
    border-radius: 6px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.buttonText{
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}

.landing-register-button-text,
.landing-login-button-text
{
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #354b6c;
}

.landing-register{
    width: 199px;
    height: 44px;
    border-radius: 6px;
    background-color: #f8d75c;
}

.landing-login{
    width: 98px;
    height: 44px;
    border-radius: 6px;
    background-color: #d6dce3
}


.standart{
    background-color: #354b6c;
    color: #ffffff;
}