.logoWrapper{
    height: 62px;
    width: 62px;
    border-radius: 62px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.productLogo{
    width: 60px;
    border-radius: 60px;
    border: 1px solid #354b6c;
}
