.modal {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    /*background: rgba(0, 0, 0, 0.1);*/
    z-index: 1050;
    opacity: 0;
    transition: opacity 400ms ease-in;
    /*pointer-events: none;*/
    visibility: hidden;
    display: flex;
    /*align-items: center;*/
    justify-content: center

}

.button{
    width: 160px;
    height: 32px;
    border-radius: 16px;
}

.buttonText{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.save, .remove{
    background-color: #4d5457;
}

.error{
    background-color: #f57123;
}