.input {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
}

.inputWrapper{
    border-bottom: solid 1px #f5c923;
    margin-bottom: 30px;
}
