@media (min-width: 560px) {
    .root {
        display: flex;
        justify-content: center;
    }

    .root2{
        height: 100%;
        box-shadow: 0 0 200px 50px rgba(213, 220, 228, 1);
        background-color: #ffffff;
        border: solid 1px #d6dce3;
        display: inline-block;
        min-width: 560px;
        max-width: 560px;
    }
}

.root{
    height: 100%;
}

.root2{
    height: 100%;
}