.root{
    /*margin-top: 20px;*/
    padding-bottom: 25px;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
}

.button {
    height: 30px;
    text-align: center;
}

.buttonText{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;
}