.text{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block;
    padding: 4px 9px 4px 9px;
    text-transform: uppercase;
    text-align: center;
}

.root{
    border-radius: 10px;
    display: inline-block;
}

.new{
    background-color: #f8d75c;
}

.accept{
    background-color: #b2b2b2;

}