.root{
    width: 62px;
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
}

.checkboxWrapper{
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    z-index: 1;
}


.round{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px #d6dce3;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.line{
    background-color: #d6dce3;
    top: 50%;
    left: 50%;
    width: 33px;
    height: 12px;
    display: block;
    position: absolute;
    margin-top: -6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: -28px;
    border-radius: 7px;
}

.checkbox{
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
}

.label{
    color: #5a758a;
    margin-right: 10px;
}