.root {

}

.editorView{
    width: 100%;
    padding-top: 24px;
    background-color: #f4f6f9;
}

.editorViewTextWrapper{
    height: 200px;
    overflow-y: hidden;
    background-color: #ffffff;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;
}

.editorViewText{
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #354b6c;
    border: 0;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
}

.hidden{
    display: none;
    visibility: hidden;
}

.label{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;

    margin-bottom: 10px;
    padding-left: 25px;
}

.placeholder{
    margin-top: 15px;
    color: #d6dce3;
    font-weight: 300;
    font-size: 16px;
}
