.title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #354b6c;

    /*border-left: 10px solid #d6dce3;*/
    /*padding-left: 15px;*/
    /*margin-left: -25px;*/
}
