.buttonText{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #f57123;
}

.button{
    width: 142px;
    height: 50px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 2px #f57123;
}
