.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1050;
    opacity: 0;
    transition: opacity 400ms ease-in;
    /*pointer-events: none;*/
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}

.textWrapper{
    margin-top: 61px;
    display: flex;
    justify-content: center;
}

.text{
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    width: 80%;
}

.buttonPanel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.root{
    height: 311px;
    background-color: #354b6c;
    position: fixed;
    bottom: 0;
    width: 100%;
}