.button{
    margin-left: 10px;
}

.title{
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5a758a;
    padding: 8px;
    display: inline-block;
}

.selected {
    border-bottom: solid 2px #5a758a;
    font-weight: bold;
}