.menuItemButtonWrapper{

}

.menuItemButton{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 31px;
    border-bottom: solid 1px #d6dce3;

}

.menuItem{
    display: block;
}

.text{

    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    color: #354b6c;
}

.arrow{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    color: #354b6c;
}