.root{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #d6dce3;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    position: sticky;
    top: 0;
    background-color: white;
}

.title{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #354b6c;
}

.close{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354b6c;
}
