.dropzone{}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button{

}

.placeholder{
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #d6dce3;
}

.root{
}


.rootButton{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 18px 22px 18px 22px;
    border-bottom: solid 1px #d6dce3;
    align-items: center;
}


.titleButton{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    color: #5a758a;
}