.root{
}

.button {
    border-radius: 6px;
    background-color: #354b6c;
    height: 28px;
    text-transform: uppercase;
}

.buttonText{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: rgb(248, 215, 92);
    margin: 8px;
}

