

.root {
    /*background-color: #354b6c;*/
    /*background-color: #ffffff;*/
}

.button{
    margin-left: 25px;
    height: 28px;
    display: flex;
    align-items: center;
}

.content{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.buttonMenu{
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
}

.textMenu{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-right: 11px;
    color: #354b6c;
}

.leftCol{

}

.rightCol{

    text-align: right;
    margin-right: 25px;
}