.label{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #5a758a;

    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
}

.mapWrapper{
    padding: 25px;
    background-color: #ffffff;
    border-top: solid 1px #d6dce3;
    border-bottom: solid 1px #d6dce3;
}

.root{
    /*margin-bottom: 24px;*/


}

.map{
    position: relative;
}

.mapCover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 206px;
}


.icon{
    margin-bottom: 5px;
}